# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

#Le Wagon DS Batch
#git+ssh://git@github.com/lilbronto/badeente
#git+ssh://git@github.com/LAnnamaria/newtempam
git+ssh://git@github.com/mobewe/myfirstpackage
git+ssh://git@github.com/rubenrossbach/wagonwheel
git+ssh://git@github.com/Morad4444/myfirstproject
